[submodule "src/breadcrumb"]
	path = src/breadcrumb
	url = git@github.com:anhadjangra/breadcrumb.git
[submodule "src/depthai-ros"]
	path = src/depthai-ros
	url = git@github.com:anhadjangra/depthai-ros.git
[submodule "src/depthai_publisher"]
	path = src/depthai_publisher
	url = git@github.com:anhadjangra/depthai_publisher.git
[submodule "src/egh450_image_processor"]
	path = src/egh450_image_processor
	url = git@github.com:qutas/egh450_image_processor.git
[submodule "src/egh450_target_solvepnp"]
	path = src/egh450_target_solvepnp
	url = git@github.com:qutas/egh450_target_solvepnp.git
[submodule "src/qutas_lab_450"]
	path = src/qutas_lab_450
	url = git@github.com:anhadjangra/qutas_lab_450.git
[submodule "src/servo_toggle"]
	path = src/servo_toggle
	url = git@github.com:anhadjangra/servo_toggle.git
[submodule "src/spar"]
	path = src/spar
	url = git@github.com:anhadjangra/spar.git
[submodule "src/rqt_eyedropper"]
	path = src/rqt_eyedropper
	url = git@github.com:qutas/rqt_eyedropper.git
[submodule "src/rqt_generic_hud"]
	path = src/rqt_generic_hud
	url = git@github.com:qutas/rqt_generic_hud.git
[submodule "src/rqt_mavros_gui"]
	path = src/rqt_mavros_gui
	url = git@github.com:qutas/rqt_mavros_gui.git
[submodule "src/rqt_quaternion_view"]
	path = src/rqt_quaternion_view
	url = git@github.com:qutas/rqt_quaternion_view.git
[submodule "src/uavasr_emulator"]
	path = src/uavasr_emulator
	url = git@github.com:qutas/uavasr_emulator.git
[submodule "src/detection_viz"]
	path = src/detection_viz
	url = git@github.com:anhadjangra/detection_viz.git
	branch = main
