<?xml version='1.0'?>
<launch>
	<node pkg="breadcrumb" type="breadcrumb_node" name="breadcrumb" clear_params="true" output="screen">
		<param name="search_heuristic" value="1" type="int" />
		<param name="allow_diagonals" value="true" type="bool" />
		<param name="obstacle_threshold" value="1" type="int" />
		<param name="calc_sparse_path" value="true" type="bool"/>
		<param name="x_min" value="-4.0" type="double" />
		<param name="x_max" value="4.0"  type="double" />
		<param name="y_min" value="-3.2" type="double" />
		<param name="y_max" value="2.0"  type="double" />
		<param name="z_min" value="0.5"  type="double" />
		<param name="z_max" value="4.0"  type="double" />

		<remap from="~grid" to="/grid" />
	</node>
</launch>
